.rectangle{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 1200px;
    background-color:white;
    border-radius: 50px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: black;
    font-size: 20px;
    margin-right: 25px;
}

nav{
    display: flex;
    width: 84%;
    margin: auto ;
    padding: 3px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li a{
    text-decoration: none;
    color: #000000;
}

.nav__links{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.button{
    margin-right: -25px;
    background-color: #000000;
    color: white;
    border:566666cm;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
}

button a{
    font-size: 17px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 60px;
    width: 60px;
    margin-left: -25px;
}

.rect1{ 
    top: 13%;
    left: 5%;
    height: 120%;
    width: 90%;
    background-color: rgb(133, 133, 204);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    align-items: center;
    flex-wrap: wrap;
}

.bgrect{
    margin-top: 10%;
    height: 135vh;
    width: 100%;
    background-color: rgb(18, 59, 36);
    align-items: center;
}

.head{
    margin-top: -2%;
    left: 8%;
    width: 30%;
    height: 35%;
    position: absolute;
}

.head h3{
    font-size: 6vw;
}

.bgrect1{
    margin-top: 3px;
    height: 13%;
    width: calc(100% - 16px);
    background-color: rgb(18, 59, 36);
    position: absolute;
}

.tables{
    padding-top: 2%;
    top: 135%;
    height: 30%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.fullLogo{
    margin-left: -5%;
    height: 120%;
}

.td1{
    height: 120%;
    color: white;
    line-height: 2;
}

.td2{
    height: 120%;
    color: white;
    line-height: 2;
}

.td3{
    height: 120%;
    color: white;
    line-height: 2;
}

.td4{
    height: 120%;
    color: white;
    line-height: 2;
}

.td1 a{
    color: white;
}

.td4 a{
    color: white;
}

a:link{
    size: 20px;
    text-decoration: none;
}

.out{
    color: white;
    text-align: center;
    margin-top: 5vh;
}

.inputs{
    margin-left: 35%;
    height: 117vh;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.input1{
    height: 20vh;
    width: 45%;
    padding-left: 10%;
    padding-top: 10vh;
} 

.input2{
    height: 20vh;
    width: 45%;
    padding-top: 10vh;
} 

.input3{
    height: 20vh;
    width: 45%;
    padding-left: 10%;
    margin-top: -13%;
} 

.input4{
    height: 20vh;
    width: 45%;
    margin-top: -13%;
} 

.input5{
    height: 30vh;
    width: 100%;
    padding-left: 10%;
    margin-top: -13%;
}

input{
    outline: 0;
    border-width: 0 0 3px;
    width: 75%;
    padding: 12px 20px;
    background-color: rgb(133, 133, 204);
    border-color: blueviolet; 
}

.input5 input{
    width: 88%;
}

.help{
    font-size: larger;
    margin-top: -18%;
    padding-left: 10%;
}

.help a{
    color: #000000;
}

.quote{
    margin-top: -10%;
    margin-left: 10%;
    background-color: black;
    color: white;
    height: 5%;
    width: 75%;
    border-radius: 30px;
    font-family: 'Lalo',sans-serif;
    text-align: center;
    font-weight: 600;
    padding-top: 2%;
}
