.alert alert-danger{
    height: 8vh;
    width: 40%;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: lightcoral;
    padding: 3vh 2vw;
    position: absolute;
    right: 0px;
    top: 5%;
    border-radius: 4px;
    border-left: 8px solid red;
}