*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.outerdiv{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: crimson; */
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

#logo{
    height: 15vw;
    width: 15vw;
}

.container{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    border-radius: 5px;
}

form{
    padding: 1vw 2vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.input{
    width: 100%;
    height: 6vh;
    border: none;
    font-size: medium;
    background-color: white;
}


.btn{
    color: white;
    background-color: #2CBE64;
}

.para {
    /* margin-top: 2vw; */
    padding: 10%;
    word-spacing: 3px;
    display: flex;
}

.para a {
    color: #2CBE64;
}





