/* 
body{
    
} 

.rectangle{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 1200px;
    background-color:white;
    border-radius: 50px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}

nav{
    display: flex;
    background-color: #FFFFFF;
    width: 84%;
    margin: auto ;
    padding: 3px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li a{
    text-decoration: none;
    color: #000000;
}

.nav__links{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.button{
    margin-right: -25px;
    background-color: #000000;
    color: white;
    border:566666cm;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
}

button a{
    font-weight: bold;
    font-size: 17px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 60px;
    width: 60px;
    margin-left: -25px;
}

.Quote{
    font-family: 'Space Grotesk',sans-serif;
    width: 250px;
    margin-top: 300px;
    position: absolute;
    left: 8%;
}

.rect1{
    margin-top: 15px;
    position: absolute;
    left: 67%;
}

.rect2{
    margin-top: 15px;
    position: absolute;
    left: 48%;
}

.img2{ 
    border-top-left-radius: 80%;
    border-bottom-right-radius: 75%;
}

.rect3{
    margin-top: 215px;
    position: absolute;
    left: 48%;
}

.circle{
    margin-top: 215px;
    position: absolute;
    left: 78.2%;
}

.imgcir{
    border-radius: 50%;
}

.rect4{
    margin-top: 415px;
    position: absolute;
    left: 48%;
}

.img4{
    border-bottom-left-radius: 65%;
}

.rect5{
    height: 180px;
    width: 65px;
    background-color: rgb(168, 207, 230);
    margin-top: 415px;
    position: absolute;
    left: 67%;
}

.rect6{
    height: 180px;
    width: 65px;
    background-color:rgb(27, 63, 41);
    margin-top: 415px;
    position: absolute;
    left: 71.8%;
}

.rect7{
    height: 180px;
    width: 220px;
    background-color: rgb(32, 105, 60);
    margin-top: 415px;
    position: absolute;
    left: 76.6%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.textbox{
    width: 450px;
    margin-top: 595px;
    position: absolute;
    left: 8%;
    font-weight:300;
    font-size:x-large;
    font-family: 'Lato',sans-serif;
}



.button1{
    margin-top: 775px;
    left: 8%;
    position: absolute;
    background-color:  rgb(32, 105, 60);
    color: white;
    border:566666cm;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 100;
    padding: 10px 25px;
    border-radius: 30px;
    font-family: 'Lalo',sans-serif;
} */

 


























































  .Home1-outer-div{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 150vh;
    background-color: #F3F3EB;

 }

 .left{
    display: flex;
    height: 100vh;
    width: 50vw;
    font-size: 2.5vw; 
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 100;
    justify-content: center;
    background-color: #F3F3EB;

    /* align-items: center; */
 }

 .title-container{
    display: flex;
    align-items: flex-end;
    margin-bottom: 16vh;
    background-color: #F3F3EB;

 }

 .title-container h1 {
    display: flex;
    background-color: #F3F3EB;

 }

 
 

 .img-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;  */
    /* align-items: center; */
    height:76%;
    width: 100%;
    background-color: #F3F3EB;

 }




 .right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    background-color: #F3F3EB;

 }



.rect1 img {
    border-radius: 60%  0   60%    0px  ;
    width: 100%;
    height: 100%;
    
}

.rect2 img {
    width: 100%;
    height: 100%;
}

.rect3 img {
    width: 100%;
    height: 100%;
}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.rect4 img{
    width: 100%;
    height: 100%;
    border-radius:  0 0 0 50% ;

}

.rect1 {
    width: 21vw;
    height: 15vw;
    background-color: #F3F3EB;

}

.rect2 {
    width: 24vw;
    height: 15vw;
    background-color: #F3F3EB;


}

.rect3 {
    width: 29vw;
    height: 16vw;
    background-color: #F3F3EB;

}

.circle {
    width: 16vw;
    background-color: #F3F3EB;

    height: 16vw;

}

.rect4 {

    background-color: #F3F3EB;
    width: 16vw;
    height: 15vw;
}

.rect5{
    width: 5.5vw;
    background-color: #BCD2EC;
}

.rect6{
    width: 5.5vw;
    background-color: #325746;
}

.rect7{
    width: 18vw;
    border-radius: 0 50% 50% 0;
    background-color: #00795F;
}

.textbox{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    width: 50vw;
    justify-content: center;
    align-items: center;
    background-color: #F3F3EB;

}

#text-div{
    background-color: #F3F3EB;
    
}

.textbox p {
    background-color: #F3F3EB;

}

.bottom {
    display: flex;
    background-color: #F3F3EB;
    flex-direction: column;
    font-family: 'Noto Sans Glagolitic', sans-serif;
}

.bottom a {
    display: flex;
    align-items: center;
    margin-top: 2vw;
    margin-left: 8.5vw;
    text-decoration: none;
    background-color: #017860;
    width: 12vw;
    justify-content: center;
    color: white;
    height: 3.8vw;
    border-radius: 5vw;

}



 