*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}


.navbar-outer-div{
    display: flex;
    float: left;
    width: 100vw;
    background-color: #F3F3EB;



}


.navbar-outer-div nav {
    display: flex;
    border-radius: 0 10vh 10vh 0;


}

.navbar-left{
    border-radius: 0 10vh 10vh 0;
}

.navbar-left img {

}
  
#navbar-logo{

    height: 5vw;
    width: 15vw;
   
}


.navbar-right{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    border-radius: 0 50%;
}




.navbar-right a {
    text-decoration: none;
    color: black;

}



