* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-page-outer-div {
  height: 100vh;
  width: 100vw;
  display: flex;
}
  
.product-page-left {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content:end;
  align-items: center;
  
}

.product-page-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.product-page-left-img-container{
    display: flex;
}

.product-page-left-img-container img {
    width: 35vw;
    height: 35vw;
}

.product-page-right-upper-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 65%;
    justify-content: space-around;
    padding: 13% 5%;
}


#Code{
  margin-top: -1vw;
}

.product-page-right-upper-div input{
  width: 4vw;
  height: 5vh;
  margin-top: -0.5vw;
  padding-left: 1vw;
}

.product-page-right-upper-div button{
  width: 30vw;
  height: 5.5vh;
  margin: -1vh 0vw;
  border-radius: 0.5vw;
}

#Buy{
  background-color: black;
  color: white;
  margin-top: 0.5vw;
}

.product-page-right-lower-div{
  margin-top: -2vw;
  padding-left: 5%;
}

.product-page-right-lower-div p{
  font-weight: bold
}