*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer-div{
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: crimson; */
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

#logo{
    height: 7vw;
    width: 7vw;
}

.container{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    border-radius: 5px;
}

form{
    padding: 1vw 2vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.input{
    padding: 1em;
    width: 100%;
    border: none;
    line-height: 0%;
    font-size: medium;
}

.btn{
    color: white;
    background-color: #2CBE64;

}

#SignIn-div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.para {
    /* margin-top: 2vw; */
    padding: 0% 10%;
    word-spacing: 3px;
    display: flex;
}

.para a {
    color: #2CBE64;
}

.red{
    color: red;
}

label{
    display: flex;
}