*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
}

#signIn-form{
    display: flex;
    flex-direction: column;
    
}


p{
    text-align: center;
}

#start{
    font-size: 2vw;
    font-weight: lighter;
}

.email{
    margin-left: 20%;
    margin-right: 20%;
}

.password{
    margin-left: 20%;
    margin-right: 20%;
}

h3{
    size: 20%;
    display: flex;
}

.star{
    justify-content: flex-end;
    color: red;
}

input{
    border-radius: 7px;
    border-color: black;
    width: 60vw;
    height: 3vw;
}

.outer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#SignIn-btn{
    width: 100%;

    
    border-radius: 7px;
   
    height: 3.5vw;
    background-color: red;
    color: white;
    border: none;
    size: 2vw;

}




#end{
    margin-top: 3%;
    font-size: 1.25vw;
    font-weight: lighter;
}

#end a{
    color: black;
}


@media (max-width:600px) {
    .outer-div{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}